body {
    background-color: rgb(228, 224, 224);
}

.font1 {
    font-size: 60px;
    font-weight: bold;
}

.foot {
    padding-top: 20px;
}

.navbar-brand {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}

.carosel-item img {
    height: 60vh;
    position: relative;
}